<<<<<<< HEAD
.form{
       
    margin-top:10px;
        
      margin-left:60px;
   
   }
   .container
   {
       display: flex;
       
   justify-content: center;
   margin-top: 20px;
   
   }  
   .card{
     
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     
     padding: 16px;
    
      text-align: left;
     
     
   
   }
   .error-message {
    color: red;
    margin-left: 220px;
  }
  input.ng-touched.ng-invalid {
    border: 1px solid red;
=======
.error-message {
    color: red;
>>>>>>> c3327f407fceebe1a9a12311d82dab612edd604c
  }