<app-home-nav-bar></app-home-nav-bar>
<div class="container">
  <br><br><br> 
</div>
<div class="container  pt-5">
  <div class="card" style="width:50%">
    <div>
      <form [formGroup]="form" (ngSubmit)="setPasswords(form)">
 
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Login Password</label>
          <div class="col-sm-6">
            <input type="password" id="loginpass" class="form-control" formControlName="loginpassword" placeholder=""
              required>
          </div>
        </div>
 
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.loginpassword">
            <div class="error-message"
              *ngIf="form.get('loginpassword').hasError(error.type) && (form.get('loginpassword').dirty || form.get('loginpassword').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
 
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Confirm Login Password</label>
          <div class="col-sm-6">
            <input type="password" id="confloginpassword" class="form-control" formControlName="confloginpassword"
              placeholder="" required>
          </div>
        </div>
 
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confloginpassword">
            <div class="error-message"
              *ngIf="form.get('confloginpassword').hasError(error.type) && (form.get('confloginpassword').dirty || form.get('confloginpassword').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
 
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Transaction Password</label>
          <div class="col-sm-6">
            <input type="password" id="transactionpass" class="form-control" formControlName="transactionpassword"
              placeholder="" required>
          </div>
        </div>
 
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.transactionpassword">
            <div class="error-message"
              *ngIf="form.get('transactionpassword').hasError(error.type) && (form.get('transactionpassword').dirty || form.get('transactionpassword').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>




 
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Confirm Transaction Password</label>
          <div class="col-sm-6">
            <input type="password" id="conftransactionpassword" class="form-control"
              formControlName="conftransactionpassword" placeholder="" required>
          </div>
        </div>
 
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.conftransactionpassword">
            <div class="error-message"
              *ngIf="form.get('conftransactionpassword').hasError(error.type) && (form.get('conftransactionpassword').dirty || form.get('conftransactionpassword').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>




 
        <div class="form-group row" class="text-center">
          <!-- <button type="submit" class="form-control btn btn-primary" style="margin-bottom: 20px; width: 100px;"
          [disabled]="loginForm.invalid">Proceed</button> -->
          <button type="submit" class="form-control btn btn-primary"
            style="margin-bottom: 20px; width: 100px;">Submit</button>
        </div>
 
      </form>
    </div>
  </div>
</div>
 
<app-home-footer></app-home-footer>