.error-message {
    color: red;
  }
  .container
  {
    
  justify-content: center;
  margin-top: 5%;
  margin-left: 19%;
  
  }  
  .card{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    padding: 16px;
   
     text-align: center;
    
    
  
  }

a{
    color : light rgb(104, 18, 33);
  }