<!-- <div class="w3-top">
    <div class="w3-bar  w3-card top">
        <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
        <div class="w3-right w3-hide-small">
            <a href="#home" class="w3-bar-item w3-button">HOME</a>
            
            <div style="display: inline">
                
                <div class="w3-dropdown-hover">
                    <a class="w3-button top ">SERVICES</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button" routerLink="/createaccount"
                        routerLinkActive="active">CREATE
                        SAVINGS ACCOUNT</a>
                        <a href="#" class="w3-bar-item w3-button" routerLink="/register"
                        routerLinkActive="active">REGISTER</a>
                        
                        <a href="#" class="w3-bar-item w3-button" routerLink="/checkapplication"
                        routerLinkActive="active">CHECK APPLICATION STATUS</a>

                    </div>
                </div>
                
            </div>
            
            <a href="#offers" class="w3-bar-item w3-button">OFFERS</a>
            <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
            <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
            <a href="#help" class="w3-bar-item w3-button">HELP</a>

            <div style="display:inline">
                <div class="w3-dropdown-hover">
                    <a class="w3-button top">LOGIN</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a class="w3-bar-item w3-button" href="#" routerLink="/login" routerLinkActive="active">USER</a>
                        <a class="w3-bar-item w3-button" href="#" routerLink="/adminlogin"
                            routerLinkActive="active">ADMIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
     <!-- <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Services</a> -->
     <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="float: right;">About Us</a>
     <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="float: right;">Contact</a>
     <div class="w3-dropdown-hover w3-hide-small" style="float: right;">
       <button class="w3-button" title="Notifications" style="color:white">Login <i class="fa fa-caret-down"></i></button>     
       <div class="w3-dropdown-content w3-card-4 w3-bar-block">
           <a href="#" class="w3-bar-item w3-button">User</a>
           <a href="#" class="w3-bar-item w3-button">Admin</a>
           
       </div>
   </div>
   <div class="w3-dropdown-hover w3-hide-small" style="float: right;">
   <button class="w3-button" title="Notifications" style="color:white">Services <i class="fa fa-caret-down"></i></button>     
     <div class="w3-dropdown-content w3-card-4 w3-bar-block">
         <a href="#" class="w3-bar-item w3-button">Create Saving Account</a>
       <a href="#" class="w3-bar-item w3-button">Register For Net Banking</a>
       <a href="#" class="w3-bar-item w3-button">Check Apllication Status</a>
     </div>
   </div>
   <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white" style="float: right;">Home</a>
     <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a> -->
    </div>
   
     <!-- Navbar on small screens -->
     <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
       <a href="#team" class="w3-bar-item w3-button">Team</a>
       <a href="#work" class="w3-bar-item w3-button">Work</a>
       <a href="#pricing" class="w3-bar-item w3-button">Price</a>
       <a href="#contact" class="w3-bar-item w3-button">Contact</a>
       <a href="#" class="w3-bar-item w3-button">Search</a>
     </div>
   </div>