<app-admin-navbar></app-admin-navbar>
<style>
    table,
    th,
    td {
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }
</style>
<h2 style="text-align: center;width:100%;">Pending Customer Details</h2>

<div class="frm">
    <div class="input" *ngFor="let cust of custdetails">
        <table style="width:100%">
            <tr><th colspan="2" style="text-align: center;"><b>Personal Details</b></th></tr><br>
            <tr>
                <th>Title:</th>
                <td>{{cust.title}}</td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>{{cust.firstName}}</td>
            </tr>
            <tr>
                <th>Middle Name:</th>
                <td>{{cust.middleName}}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{cust.lastName}}</td>
            </tr>
            <tr>
                <th>Mobile Number:</th>
                <td>{{cust.mobileNumber}}</td>
            </tr>
            <tr>
                <th>Email Id::</th>
                <td>{{cust.emailId}}</td>
            </tr>
            <tr>
                <th>Aadhar Card Number:</th>
                <td>{{cust.aadharCardNo}}</td>
            </tr>
            <tr>
                <th>Aadhar Card File:</th>
                <td><img style="height:300px; width: 500px;" src="http://localhost:8086/downloads/{{cust.customerDoc.aadharCard}}"/>
                </td>
            </tr>
            <tr>
                <th>PAN Card Number:</th>
                <td>{{cust.panNumber}}</td>
            </tr>
            <tr>
                <th>PAN Card File:</th>
                <td><img style="height:300px; width: 500px;"  src="http://localhost:8086/downloads/{{cust.customerDoc.panCard}}"/>
                </td>
            </tr>
            <tr>
                <th>Date of Birth:</th>
                <td>{{cust.dateOfBirth}}</td>
            </tr><br>
            <tr><th colspan="2" style="text-align: center;"><b>Resedential Address</b></th></tr>
            <br>   <tr>
                <th>Address Line 1:</th>
                <td>{{cust.address.cAddressLine1}}</td>
            </tr>
            <tr>
                <th>Address Line 2:</th>
                <td>{{cust.address.cAddressLine2}}</td>
            </tr>
            <tr>
                <th>Landmark:</th>
                <td>{{cust.address.cLandMark}}</td>

            </tr>
            <tr>
                <th>City:</th>
                <td>{{cust.address.cCity}}</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>{{cust.address.cState}}</td>
            </tr>
            <tr>
                <th>Pincode:</th>
                <td>{{cust.address.cPincode}}</td>
            </tr>
            <br>
            <tr><b>Permanent Address</b></tr>
            <br>     <tr>
               
                <th>Address Line 1:</th>
                <td>{{cust.address.pAddressLine1}}</td>
            </tr>
            <tr>
                <th>Address Line 2:</th>
                <td>{{cust.address.pAddressLine2}}</td>
            </tr>
            <tr>
                <th>Landmark:</th>
                <td>{{cust.address.pLandMark}}</td>

            </tr>
            <tr>
                <th>City:</th>
                <td>{{cust.address.pCity}}</td>
            </tr>
            <tr>
                <th>State:</th>
                <td>{{cust.address.pState}}</td>
            </tr>
            <tr>
                <th>Pincode:</th>
                <td>{{cust.address.pPincode}}</td>
            </tr>
            <br>
            <tr><th colspan="2" style="text-align: center;"><b>Occupation Details</b></th></tr><br>
            <tr>

                <th>Occupation Type:</th>
                <td>{{cust.occupationType}}</td>
            </tr>
            <tr>
                <th>Source of Income:</th>
                <td>{{cust.sourceOfIncome}}</td>
            </tr>
            <tr>
                <th>Gross Annual Income:</th>
                <td>{{cust.grossAnnualIncome}}</td>
            </tr>
            <br>
        </table>
    </div>
    <button class="btn btn-light" type="button" (click)="redirectTo()" style="margin: 20px; width: 100px;">Back</button>
    <button class="btn btn-success" type="button" (click)="sendAdminRemarks('Accepted')"
        style="margin: 20px; width: 100px;">Approve</button>
    <button class="btn btn-danger" type="button" (click)="sendAdminRemarks('Rejected')"
        style="margin: 20px; width: 100px;">Reject</button><br>

</div>