<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="aboutus">

    <div class="w3-quarter">
        <h2>Our Work</h2>
        <p>We offer banking services that help people and companies to succeed, creating wealth and growth across
            our markets. Our heritage and values are expressed in our brand promise .We believe it’s crucial to help
            our customers adhere to global standards of conduct and compliance. we aim to support
            sustainable economic and social development.We do this through our core business of banking, ensuring a
            strong conduct framework, investing in our people and working with local partners to deliver community
            programmes.</p>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="../assets/images/ethnicDiversity.jpg" alt="ethnicDiversity" style="width:100%">
            <div class="w3-container">
                <h4>Boosting ethnic diversity</h4>
                <p>We recognise the value of a diverse and representative workforce at all levels</p>
                <p>Our approach to ethnicity includes the collection of data, setting targets, talent attraction,
                    targeted development and client and community engagement</p>
            </div>
        </div>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="../assets/images/inclusiveCulture.jpg" alt="InclusiveCulture" style="width:100%">
            <div class="w3-container">

                <h4>Promoting an inclusive culture</h4>
                <p>We’re committed to promoting equality in the workplace and creating an inclusive and flexible
                    culture</p>
                <p> This helps us to progress against the actions we take to creating a diverse so we can be Here
                    for Good.This helps us to provide better support to our broad client base.</p>
            </div>
        </div>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="../assets/images/innovation.jpg" alt="Mountains" style="width:100%">
            <div class="w3-container">

                <h4>Innovation Grant Program</h4>
                <p>ChildFund India will empower these women through the formation of a Producer Company.</p>
                <p>'Creating 1000 Tribal Entrepreneurs' will introduce 1,000 tribal women from below-the-poverty
                    line families located in Madhya Pradesh to the industry of poultry farming </p>

            </div>
        </div>
    </div>

</div>

