<app-userdashboard></app-userdashboard>
<br>
<h3 style="text-align: center;width:100%;"><b>Initiate RTGS Transaction</b></h3>
<div class=frm>
    <form [formGroup]="form" (ngSubmit)="transactionrequest(form)">

        <div class=input>
            <div id=selector>
                From Account:
            </div>
            <div>
                <select id="fromAccount" class="form-control" formControlName="fromAccount">
                    <option>-Select-</option>
                    <option *ngFor="let account of fromAccountNo" value="{{account}}">{{account}}</option>
                </select>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.fromAccount">
                        <div class="error-message"
                            *ngIf="form.get('fromAccount').hasError(error.type) && (form.get('fromAccount').dirty || form.get('fromAccount').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>


            </div>
        </div>
        <div>
            <div class=input>
                <div id=selector>
                    To Account:
                </div>
                <div>
                    <select id="toAccount" class="form-control" formControlName="toAccount">
                        <option>-Select-</option>
                        <option *ngFor="let account of toAccountNo[0]" value="{{account.beneficiaryAccountNumber}}">
                            {{account.beneficiaryAccountNumber}}</option>
                        <!-- <option *ngFor="let account of toAccountNo" value="{{account}}">{{account}}</option> -->
                    </select>

                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.toAccount">
                            <div class="error-message"
                                *ngIf="form.get('toAccount').hasError(error.type) && (form.get('toAccount').dirty || form.get('toAccount').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                    <button><a href="#" routerLink="/addBeneficiary" class="btn btn-secondary">Add Beneficiary</a></button>
                </div>
            </div>
        </div>
        <div class=input>
            <div id=selector>
                Amount:
            </div>
            <div>
                <input type="text" id="amount" class="form-control" formControlName="amount">
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.amount">
                        <div class="error-message"
                            *ngIf="form.get('amount').hasError(error.type) && (form.get('amount').dirty || form.get('amount').touched)">
                            {{ error.message }}

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>


        <div class=input>
            <div id=selector>
                Remark:
            </div>
            <div>
                <input type="text" id="Remark" class="form-control" formControlName="remark">
            </div>
        </div>
        <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.remark">
                <div class="error-message"
                    *ngIf="form.get('remark').hasError(error.type) && (form.get('remark').dirty || form.get('remark').touched)">
                    {{ error.message }}

                </div>
            </ng-container>
        </div>
        <div class=input>
            <a routerLink="/fundtransfer" class="btn btn-link">Back</a>
            <input type="button" (click)="setFlag()" value="Continue" class="btn btn-success">
        </div>

        <div class=input *ngIf="flag==true">

            <div id=selector>
                Enter Transaction Password:
            </div>
            <div>
                <div>
                    <input type="password" id="transactionPwd" class="form-control" formControlName="transactionPwd">
                </div>
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.transactionPwd">
                        <div class="error-message"
                            *ngIf="form.get('transactionPwd').hasError(error.type) && (form.get('transactionPwd').dirty || form.get('transactionPwd').touched)">
                            {{ error.message }}

                        </div>
                    </ng-container>
                </div>
            </div>

            <div id=selector>
                Enter OTP sent on your registered mobile no/email:
            </div>
            <div>
                <input type="text" id="otp" class="form-control" formControlName="otp">
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.otp">
                        <div class="error-message"
                            *ngIf="form.get('otp').hasError(error.type) && (form.get('otp').dirty || form.get('otp').touched)">
                            {{ error.message }}

                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class=input *ngIf="flag==true">
            <a routerLink="/fundtransfer" class="btn btn-link">Back</a>
            <input type="submit" value="Submit" class="btn btn-success"/>
        </div>

    </form>

</div>
<router-outlet></router-outlet>