.table thead{
    background-color: #42c5f8;
    color: white;
    text-align:center;
}
.table tbody{
    text-align: center;
}
.th{
    border: 1px solid black;
    border-collapse: collapse;
  }
  .frm{
    margin:auto;
    border-style: groove;
    width: 100vh;
}
button{
    color:#42c5f8;
}